<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head th:insert="general/header :: head"></head>
<body>
<header th:insert="general/header :: header"></header>

<div class="container mt-5">
    <h1>User</h1>
    <div th:each="user : ${users}" class="alert alert-into mt-2">
        <p th:text="${user.getUsername()}">username</p>
        <p th:text="${user.getRoles()}">role</p>
        <a th:href="'/user/' + ${user.getId()}" class="btn btn-dark">Edit</a>
        <hr/>
    </div>
</div>
<footer th:insert="general/footer :: footer"></footer>
</body>
</html>