<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head th:insert="general/header :: head"></head>
<body>
<header th:insert="general/header :: header"></header>

<div class="container mt-5">
    <div th:each="item : ${items}" class="alert alert-into mt-2">
        <h1 th:text="${item.getName()}">name</h1>
        <p th:text="${item.getCost()}">item</p>
        <p th:text="${item.getDescription()}">desc</p>
        <a th:href="'/shop/' + ${item.getId()} + '/edit'" class="btn btn-warning"> Edit </a>
        <br>
        <br>
        <form th:action="'/shop/' + ${item.getId()} + '/delete'" method="POST">
            <button class="btn btn-warning" type="submit"> Remove</button>
        </form>
    </div>
</div>
<br/>
<hr/>

<footer th:insert="general/footer :: footer"></footer>
</body>
</html>