<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head th:insert="general/header :: head"></head>
<body>
<header th:insert="general/header :: header"></header>

<div class="container mt-5">
    <h1>Shop</h1>
    <hr/>
    <div th:each="item : ${items}" class="alert alert-into mt-2">
        <p th:text="${item.getName() + ', ' + item.getCost()}">item</p>
        <img th:src="@{/img/{filename}(filename = ${item.getFilename()})}" width="200" height="200"
             alt="<None Image>"> <br> <br>
        <a th:href="'/shop/' + ${item.getId()}" class="btn btn-outline-dark">Concrete</a>
        <hr/>
    </div>
</div>
<footer th:insert="general/footer :: footer"></footer>
</body>
</html>